body {
  padding: 0;
  margin: 0;
}

header {
  padding-top: 10px;
  text-align: center;
  font-family: "omnes-pro", sans-serif;
}

h1 {
  font-size: 220%;
  color: #4f4f4f;
  font-weight: 100;
}

.container {
  padding: 10px;
  margin: auto;
  width: 1230px;
}

#gameFrame {
  width: 600px;
  min-height: 600px;
  margin: 5px;
  float: left;
}

.editorFrame {
  width: 600px;
  min-height: 600px;
  margin: 5px;
  float: left;
}

.CodeMirror {
  border: 1px solid #ddd;
}

#runButton {
  float: right;
  margin-top: 5px;
  padding: 5px 15px;
  color: #fff;
  background-color: #0077e7;
  border: none;
  font-size: 16px;
}

footer {
  font-size: 80%;
  border-top: 1px solid #D3D3D3;
  margin: 0;
  margin-top: 50px;
  padding: 20px;
  background-color: #E6E6E6;
  color: #787878;
  text-align: right;
}

footer p {
  margin: 3px;
}
